*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:"Cairo",sans-serif;
background:linear-gradient(160deg,#03081f,#08184d,#2b0b78);
color:white;
min-height:100vh;
overflow-x:hidden;
position:relative;

}

/* النجوم */

#stars{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:0;
pointer-events:none;

}

.star{

position:absolute;
background:#fff;
border-radius:50%;
box-shadow:
0 0 8px white,
0 0 18px white;

animation:twinkle infinite ease-in-out;

}

@keyframes twinkle{

0%{
opacity:.2;
transform:scale(.8);
}

50%{
opacity:1;
transform:scale(1.6);
}

100%{
opacity:.2;
transform:scale(.8);
}

}

/* المحتوى */

header{

position:relative;
z-index:2;
text-align:center;
padding-top:55px;

}

/* شعار الموقع */

header h1{

font-family:"Orbitron",sans-serif;

font-size:60px;

font-weight:900;

letter-spacing:3px;

background:linear-gradient(90deg,#ffffff,#6ec8ff,#b56dff);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

text-shadow:

0 0 18px rgba(110,200,255,.5),

0 0 35px rgba(181,109,255,.5);

}

/* الوصف */

header p{

margin-top:12px;

font-size:18px;

opacity:.9;

font-weight:600;

}

/* البحث */

.search-box{

position:relative;

z-index:2;

display:flex;

justify-content:center;

margin-top:35px;

}

.search-box input{

width:90%;

max-width:650px;

padding:18px 22px;

font-size:18px;

border:none;

outline:none;

border-radius:18px;

background:rgba(255,255,255,.18);

backdrop-filter:blur(12px);

color:white;

box-shadow:0 0 25px rgba(255,255,255,.08);

}

.search-box input::placeholder{

color:#ececec;

}
